@import url(https://fonts.googleapis.com/css?family=Nunito);
@media (max-width: 599px) {
  #dropdown-nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  #dropdown-nav .dropdown .dropdown-menu {
    display: none;
    position: static !important;
    background-color: transparent;
    width: auto;
    float: none;
    box-shadow: none;
  }

  #dropdown-nav .dropdown.show .dropdown-menu {
    display: block;
  }

  #dropdown-nav .dropdown .dropdown-menu.showing {
    -webkit-animation: initial;
            animation: initial;
    -webkit-animation-duration: 0s;
            animation-duration: 0s;
  }

  #dropdown-nav .dropdown .dropdown-menu.hiding {
    transform: none;
    opacity: 1;
  }
}
@media (min-width: 600px) {
  #dropdown-nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  #dropdown-nav .dropdown .dropdown-menu {
    display: none;
    position: static !important;
    background-color: transparent;
    width: auto;
    float: none;
    box-shadow: none;
  }

  #dropdown-nav .dropdown.show .dropdown-menu {
    display: block;
  }

  #dropdown-nav .dropdown .dropdown-menu.showing {
    -webkit-animation: initial;
            animation: initial;
    -webkit-animation-duration: 0s;
            animation-duration: 0s;
  }

  #dropdown-nav .dropdown .dropdown-menu.hiding {
    transform: none;
    opacity: 1;
  }
}
@media (min-width: 900px) {
  #dropdown-nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  #dropdown-nav .dropdown .dropdown-menu {
    display: none;
    position: static !important;
    background-color: transparent;
    width: auto;
    float: none;
    box-shadow: none;
  }

  #dropdown-nav .dropdown.show .dropdown-menu {
    display: block;
  }

  #dropdown-nav .dropdown .dropdown-menu.showing {
    -webkit-animation: initial;
            animation: initial;
    -webkit-animation-duration: 0s;
            animation-duration: 0s;
  }

  #dropdown-nav .dropdown .dropdown-menu.hiding {
    transform: none;
    opacity: 1;
  }
}
@media (min-width: 1281px) {
  #dropdown-nav .dropdown {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  #dropdown-nav .dropdown {
    display: none;
  }
}
