header {
  background-color: #FFF;
  padding: 0 10px;
}

header ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}

header li {
  border-bottom: 2px solid #fff;
}

header li:hover {
  border-bottom: 2px solid #ccc;
}

header li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
}

header li.active {
  border-bottom: 2px solid #000;
}

.container_area {
  display: flex;
  flex: 1;
}

.container_area .container_leftside {
  flex: 1;
  border-right: 1px solid #ccc;
}

.container_area .container_rightside {
  margin: 0 auto;
}

.container_area .container_rightside iframe {
  width: 300px;
  height: 550px;
  border: 10px solid #000;
  border-radius: 20px;
  margin: 20px;
}

.bigButton {
  display: block;
  margin: 20px;
  padding: 15px;
  background-color: #ccc;
  border-radius: 10px;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.bigButton:hover {
  background-color: #AAA;
}

#links {
  padding: 0;
  list-style: none;
  margin: 20px;
}

.link--item {
  display: flex;
  background-color: #ffff;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  box-shadow: 0px 2px 2px #ccc;
}

.link--item-order {
  cursor: move;
  margin-right: 10px;
}

.link--item-info {
  flex: 1;
}

.link--item-title {
  font-weight: bold;
}

.link--item-href {
  max-width: 40ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link--item-button a:hover {
  text-decoration: underline;
}

.container-qrcode {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: white;
  color: white;
  z-index: 999999;
  box-shadow: rgba(86, 86, 86, 0.08) 0px -3px 5px 0px;
}

@media (min-width: 1281px) {
  .container-qrcode {
    display: none !important;
  }
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .container-qrcode {
    display: none !important;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .container-qrcode {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .container_area {
    display: block;
  }

  .colderecha {
    display: none !important;
  }

  .solomobile {
    display: initial !important;
  }

  .reviewmobile {
    background: #fff;
    flex: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
  }

  .previewmobile {
    background: #fff;
    flex: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
  }

  .link--item-href {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .container_area {
    display: block;
  }

  .colderecha {
    display: none !important;
  }

  .solomobile {
    display: initial !important;
  }

  .reviewmobile {
    background: #fff;
    flex: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
  }

  .previewmobile {
    background: #fff;
    flex: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
  }

  .link--item-href {
    display: none;
  }
}
.previewmobile_2 {
  height: 600px;
  width: 330px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px auto 0px;
}
